/* ### general ### */
/** { padding: 0px; margin: 0px; }*/
/*html, body { font-family: Arial; font-size: 12px; color: #333; }*/
input, select, textarea { font-family: Arial; font-size: 12px; color: #8c806e; }
/*body { background: #fff url('../images/bg3.png') left top repeat-x; }*/
img { border: 0px; display: block; }
a, input { outline: none; }

/* ### global classes ### */
.clear { clear: both; height: 0px; overflow: hidden; }

/* ### wrapper ### */
/*#wrapper { position: relative; display: block; width: 100%; min-height: 100%; }*/

/* ### main container ### */
/*#mainCntr { margin: 0 auto; width: 992px; }*/

	/* ### header container ### */
	#headerCntr { margin-top: 32px; /*padding-bottom: 8px;*/ /*position: relative;*/ /*width: 965px;*/ /*height: 103px;*/ background: #fff; }
	#headerCntr.net { height: 110px; }
	#headerCntr a.logo { /*position: absolute; top: 29px; left: 20px;  display: block;*/ width: 252px; height: 44px; /*text-indent: -9999px;*/ background: url('../images/logo.png') no-repeat; }
	#headerCntr h2 { margin: 0; /*position: absolute; top: 28px; left: 0px;*/ width: 350px; height: 45px; text-indent: -9999px; background: url('../images/logo.png') no-repeat; }

		/* ### menu box ### */
		.menuBox { position: absolute; top: 57px; left: 335px; width: 630px; height: 20px; }
		.menuBox ul { list-style: none; list-style-type: none; overflow: hidden; }
		.menuBox li { padding-right: 27px; float: left; }
		.menuBox li a { font-family:NeubauGrotesk75Fett,sans; font-size: 18px; color: #999; line-height: 20px; text-transform: uppercase; text-decoration: none; }
		.menuBox li a:hover, .menuBox li.selected a { color: #005fa2; }

	/* ### content container ### */
	/*#contentCntr { width: 972px; position: relative; }*/

		/* ### left container ### */
		#leftCntr { padding: 20px 0 0 0; max-width: 335px; float: left; }

			/* ### test box ### */
			.testBox { width: 335px; overflow: hidden; margin-top:20px; }
			.testBox h2 { font-family: 'NeubauGrotesk45Mager'; font-size: 25px; color: #005fa2; line-height: 28px; text-transform: uppercase; }
			.testBox ul { padding: 34px 0 0 0; list-style: none; list-style-type: none; overflow: hidden; }
			.testBox li { padding-bottom: 15px; float: left; width: 296px; }
			.testBox li a { display: block; float: left; width: 296px; text-decoration: none; background-color: #dfdfdf; }
			.testBox li span { font-family: 'NeubauGrotesk65Halbfett'; font-size: 20px; color: #333; line-height: 22px; display: block; }
			.testBox .left { padding: 12px 0 17px 19px; width: 172px; float: left; }
			.testBox span.text { padding-left: 1px; font-family: Georgia; font-size: 14px; color: #333; line-height: 18px; }
                        .testBox span.textname { padding-left: 28px; font-family: Georgia; font-size: 14px; color: #333; line-height: 18px; }
			.testBox li a:hover, .testBox li.selected a { background: #005fa2; }
			.testBox li a:hover span,.testBox li.selected span { color: #fff; }
			.testBox li a:hover span.text,.testBox li.selected a span.text { color: #fff; }
			.testBox li a:hover span.open,.testBox li.selected a span.open { background: url('../images/arrow3.png') no-repeat; }
			.testBox li a:hover .one span,.testBox li.selected a .one span { color: #fff; }
			.testBox span.open { margin: 19px 21px 0 0; float: right; width: 40px; height: 52px; text-indent: -9999px; background: url('../images/arrow6.png') no-repeat; }
			.testBox li .one { font-family: 'NeubauGrotesk45Mager'; font-size: 30px; color: #3d3d3d; line-height: 35px; font-weight: normal; padding: 9px 0 0 19px; width: 55px; float: left; }

		/* ### center container ### */
		#centerCntr { padding: 0 0 40px 317px; width: 675px; float: left; }
		#centerCntr2 { padding: 0 0 40px 0px; width: 675px; float: left; }
		#centerCntr.ended { padding-left: 0px; width: 992px; }
		#centerCntr.get1 { padding-bottom: 30px; }
		#centerCntr.gen { padding-bottom: 100px; }

			/* ### invite box ### */
			.inviteBox { padding: 20px; margin: 0 auto; overflow: hidden; }
			.inviteBox h2 { padding-bottom: 5px; font-family: 'NeubauGrotesk45Mager'; font-size: 25px; color: #005fa2; line-height: 18px; text-transform: uppercase; }
			.inviteBox .txt {
				margin-top: 20px;
				padding: 8px 15px 13px 20px;
				overflow: hidden;
				background: #e9f2f9;
			}
			.inviteBox .txt h2 { margin-top: 20px; font-family: 'NeubauGrotesk85Schwer'; font-size: 17px; color: #333; line-height: 22px; text-transform: uppercase; }

			.inviteBox h3 { margin-top: 20px; padding: 0 0 7px 2px; text-transform: uppercase; color: #333; font-size: 17px; line-height: 22px; font-family: 'NeubauGrotesk85Schwer'; }
			.inviteBox p { padding-bottom: 20px; color: #666; font-size: 14px; line-height: 20px; font-family: Georgia, Arial; }
			.inviteBox ul { margin: -12px 0 0 6px; padding-bottom: 20px; list-style: none; width: 100%; overflow: hidden; }
			.inviteBox li { padding-left: 18px; width: 100%; overflow: hidden; font-weight: bold; float: left; background: url('../images/arrow1.png') left center no-repeat; }
			.inviteBox #respondents_list li { font-family: Georgia, Arial; text-decoration: none; color: #333; line-height: 26px; font-size: 16px; text-transform: none; }

			#secError { text-transform: none !important; }

			.inviteBox h4 { padding: 28px 0 0 20px; font-family: Georgia; color: #333; line-height: 26px; font-size: 16px; }
			.inviteBox .radio1 { padding: 0px 0 0 13px; width: 100%; overflow: hidden; float: left; margin-top: -20px; }
			.inviteBox .radio1 p { padding-bottom: 0px; width: 100%; overflow: hidden; color: #333; font-size: 12px; line-height: 30px; font-weight: bold; }
			.inviteBox .radio { margin: 2px 23px 0 6px; width: 25px; height: 25px; float: left; display: block; background: url('../images/radio-button.png') no-repeat; }
			.inviteBox p a { font-family: Georgia; color: #005fa2; text-decoration: underline; }
			.inviteBox p a:hover { text-decoration: none; }
			.inviteBox .end { overflow: hidden; }
			.inviteBox .end p { width: 100%; float: left; }
			.inviteBox .end a { width: 164px; height: 39px; float: right; cursor: pointer; font-family: 'NeubauGrotesk45Mager'; text-transform: uppercase; font-size: 18px; color: #fff; line-height: 37px; text-decoration: none; text-align: center; border: 0; background: #005fa2; }
			.inviteBox .end a:hover { background: #231F20; }

			.inviteBox .errors{
				margin-top: 20px;
				padding: 8px 15px 20px 20px;
				overflow: hidden;
				width: 600px;
				background: rgba(255, 51, 51, .2);
			}
			.inviteBox .errorsTop{
				margin: -64px 0px 32px -20px;
				padding: 45px 15px 20px 20px;
				overflow: hidden;
				width: 400px;
				background: rgba(255, 51, 51, .2);
			}

			.inviteBox.intro h2{
				font-size: 32pt;
				color: #000;
				font-family: 'NeubauGrotesk35Leicht';
			}
			.inviteBox.intro h3{
				font-size: 19pt;
				color: #000;
				font-family: 'NeubauGrotesk35Leicht';
			}
			.inviteBox.intro p{
				font-size: 12pt;
    			line-height: 15pt;
			}
			.inviteBox.intro .left{
				width: 70%;
				float: left;
				padding-right: 5%;
			}
			.inviteBox.intro .right{
				width: 30%;
				float: left;
			}
			.inviteBox.intro .center{
				width: 247px;
				height: 43px;
				margin: 0 auto;
			}
			.inviteBox.intro .center input{
				float: none;
			}

			.success{
				background: rgba(0, 102, 179, .2) !important;
			}
			#errorsRight{
				width: 400px !important;
				margin-top: -23px !important;
				margin-left: -100px!important;
			}
			.rightP{
				float: right !important;
			}
			.errors li, .errorsTop li{color: #666; font-size: 14px; line-height: 20px; font-family: Georgia, Arial; font-weight: normal;width: 330px;}

			/* ### extra box ### */
			.extraBox { padding: 38px 0 0 17px; width: 632px; margin-right: auto; margin-left: auto; overflow: hidden; }
			.extraBox ul { list-style: none; list-style-type: none; overflow: hidden; }
			.extraBox li { padding-bottom: 0px; float: left; width: 100%; }
			.extraBox fieldset { padding: 0px; margin: 0px; border: 0; overflow: hidden; }
			.extraBox h2 { padding: 0 0 11px 2px; font-family: 'NeubauGrotesk65Halbfett'; font-weight: normal; font-size: 20px; color: #005fa2; line-height: 22px; text-transform: uppercase; }
			.extraBox label { padding-bottom: 6px; margin-top: 6px; text-transform: uppercase; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 15px; color: #666; line-height: 18px; display: block; }
			.extraBox .field { padding: 9px 10px; margin-left: 2px; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 21px; line-height: 42px; color: #333; width: 296px; height: 42px; line-height: 35px; border: 0; float: left; background: url(../images/field.png) no-repeat; }
			.extraBox fieldset p { width: 335px; float: left; }
			.extraBox fieldset p.second { width: 297px; float: left; }
			/*.extraBox fieldset p.second .field { margin: 0px; }*/
			.extraBox li.last p { width: auto; float: none; }
            .extraBox textarea { padding: 10px; margin: 15px 0 0 0; resize: none; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 18px; line-height: 22px; color: #333; width: 633px; height: 175px; border: 0; background: url('../images/textarea3.png') no-repeat; }
			.extraBox p.extra_message { padding-bottom: 20px; color: #666; font-size: 14px; line-height: 20px; font-family: Georgia, Arial; }


			/* ### demon box ### */
			.demonBox { padding: 24px 0 0 0; width: 992px; overflow: hidden; }
			.demonBox h2 { position: relative; margin-top: 8px; margin-left: 10px; font-family: 'NeubauGrotesk45Mager'; text-transform: uppercase; font-size: 28px; color: #005fa2; line-height: 30px; }
			.demonBox ul { list-style: none; list-style-type: none; overflow: hidden; }
			.demonBox li { border-top: 1px solid #e6e6e7; float: left; font-family: Georgia; font-size: 14px; color: #666; line-height: 17px; }
			.demonBox fieldset { border: 0; overflow: hidden; }
			.demonBox input[type="submit"], .demonBox input[type="button"], .demonBox a.button {
				float: left;
			}

            .demonBox .one { padding: 13px 12px 20px 12px; width: 308px; float: left;}
			.demonBox .two { padding-top: 37px; padding-bottom: 64px; width: 115px; float: left; border-left: 1px solid #e6e6e5; }
			.demonBox .three { padding-top: 37px; padding-bottom: 64px; width: 114px; float: left; border-left: 1px solid #e6e6e5; }
			.demonBox .four { padding-top: 37px; padding-bottom: 64px; width: 116px; float: left; border-left: 1px solid #e6e6e5; }
			.demonBox .five { padding-top: 37px; padding-bottom: 64px; width: 114px; float: left; border-left: 1px solid #e6e6e5; }
			.demonBox .six { padding-top: 37px; padding-bottom: 64px; width: 116px; float: left; border-left: 1px solid #e6e6e5; }
			.demonBox .seven { padding-top: 37px; padding-bottom: 64px; width: 58px; float: left; background: #fbf2f1; }



			.demonBox li.header .one { border-bottom: 0px solid #e6e6e5; padding: 0; height: 82px; text-align: left; width: 308px; }
			.demonBox li.header p { padding-left: 0px; }
			.demonBox li.header p.name { padding: 10px 0 0 0; }
			.demonBox li p { padding-left: 22px; }
			.demonBox li.header .two { padding: 10px 0 30px 0; border: 0; width: 115px; background: url('../images/demon-one.png') no-repeat; }
			.demonBox li.header .two.non { padding: 0px; min-height: 91px; }
			.demonBox li.header { margin-bottom: -8px; z-index: 9; position: relative; border-bottom: none; font-family: Georgia; font-size: 12px; color: #666; line-height: 17px; text-transform: lowercase; text-align: center; }
			.demonBox li.header .three { padding: 10px 0 30px 0; border: 0; width: 115px; background: url('../images/demon-two.png') no-repeat; }
			.demonBox li.header .three.add { padding-bottom: 47px; }
			.demonBox li.header .seven { padding: 10px 0 47px 0; border: 0; width: 58px; background: url('../images/demon-end-2.png') no-repeat; }
			.demonBox h3 { padding: 0 0 9px 22px; font-family: 'NeubauGrotesk65Halbfett'; font-size: 18px; color: #005fa2; line-height: 18px; font-weight: normal; text-transform: uppercase; background: url(../images/arrow.png) left 6px no-repeat; }
			.demonBox li .two.next { padding-bottom: 47px; }
			.demonBox .radio { cursor: pointer; margin: 16px 0 0 1px; width: 68px; height: 68px; float: left; display: block; background: url('../images/radio2.png') no-repeat; }
			.demonBox li div.two span.radio:hover, .demonBox li div.three span.radio:hover, .demonBox li div.four span.radio:hover, .demonBox li div.five span.radio:hover, .demonBox li div.six span.radio:hover { background-image: url(../images/radio2.1.png); background-repeat: no-repeat; background-position: 0px -68px!important; }
			.demonBox .seven .radio { margin-left: -25px; background: url('../images/radio-button2.png') no-repeat; }
			.demonBox li.gap .one { padding-top: 13px; }
			.demonBox li.gap .radio { margin-top: 28px; }

			.demonBox fieldset.new { padding: 22px 35px 0 0; width: 634px; float: right; }
			.demonBox fieldset.new p { padding-bottom: 36px; }
			.demonBox fieldset.new span { padding-left: 23px; font-family: Georgia; font-size: 16px; color: #333; line-height: 20px; display: block; background: url('../images/arrow.png') left 6px no-repeat; }
			.demonBox textarea { padding: 10px; margin: 15px 0 0 24px; resize: none; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 18px; line-height: 22px; color: #333; width: 609px; height: 95px; border: 0; background: url('../images/textarea2.png') no-repeat; }
			.demonBox .button1 { margin: 0 0 0 22px; }
			.demonBox .button1.name2 { margin-left: 11px; }

            .txt .button { margin: 0 0 0 22px;  }

			/* ### progress box ### */
			.progressBox { padding: 24px 27px 0 0; width: 671px; float: right;}
			.progressBox ul { list-style: none; list-style-type: none; overflow: hidden; }
			.progressBox li { margin-left: -12px; float: left; width: 109px; height: 21px; text-indent: -9999px; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 16px; color: #fff; line-height: 21px; text-transform: uppercase; text-decoration: none; float: left; background: url('../images/progress-step.png') no-repeat; }
			.progressBox li.completed.first { padding-left: 12px; margin-left: 0px; width: 115px; text-indent: 0; background: url('../images/progress-home-bg.png') no-repeat; }
			.progressBox li.completed { width: 109px; background: url(../images/progress-step2.png) no-repeat; }

			/* ### complete box ### */
			.completeBox { padding: 32px 0 0 17px; width: 634px; overflow: hidden; }
 			.completeBox h2 { padding-bottom: 18px; font-family: 'NeubauGrotesk45Mager'; font-size: 22px; color: #005fa2; line-height: 26px; text-transform: uppercase; }
			.completeBox p { padding: 0 25px 20px 3px; font-family: Georgia; font-size: 14px; color: #666; line-height: 20px; }
			.completeBox ul { padding: 0 0 23px 4px; list-style: none; list-style-type: none; overflow: hidden; }
			.completeBox li { padding-left: 21px; font-family: Georgia; font-weight: normal; font-size: 17px; color: #666; line-height: 21px; float: left; width: 100%; background: url('../images/arrow.png') left 6px no-repeat; }
			.completeBox a.button, .accordion-opener { margin: 0 0 0 0;  float: right;  }
			.completeBox .left { padding: 51px 0 0 3px; width: 315px; float: left; }
			.completeBox .left h2 { padding-bottom: 17px; }
			.completeBox .right { padding: 51px 0 0 16px; width: 300px; float: left; }
			.completeBox .right h2 { padding-left: 2px; }
			.completeBox fieldset { padding: 83px 0 0 0; border: 0; overflow: hidden; }
			.completeBox fieldset p { padding: 0px 0 11px 0; width: 100%; overflow: hidden; }
			.completeBox .field { padding: 1px 16px 0 16px; margin-left: 4px; width: 264px; height: 44px; float: left; border: 0; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 21px; line-height: 42px; color: #333; background: url('../images/field2.png') no-repeat; }
			.completeBox h3 { padding: 0 0 17px 4px; font-size: 20px; color: #005fa2; line-height: 24px; text-transform: uppercase; font-weight: normal; }
			.completeBox .accordion h3 { padding: 0px; }
			.completeBox .accordion fieldset { padding-top: 2px; float: left; margin-left: -4px; }
			.completeBox .accordion textarea { padding: 10px; width: 276px; height: 125px; font-family: Georgia; font-size: 14px; line-height: 21px; }
			.completeBox .accordion .field { padding: 13px 10px; width: 276px; height: 19px; font-family: Georgia; font-size: 14px; line-height: 21px; }
			.completeBox label { padding: 0 0 5px 2px; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 15px; text-transform: uppercase; display: block; color: #666; }
			.completeBox textarea { padding: 3px 16px; margin-left: 4px; width: 264px; height: 139px; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 21px; line-height: 42px; color: #333; resize: none; float: left; display: block; border: 0; background: url('../images/textarea.png') no-repeat; }
			.completeBox p.gap { padding-bottom: 16px; }
			.completeBox .button { margin: 6px 1px 0 0; float: right;}
			.completeBox ul.social li { padding: 0 0 6px 0; float: left; width: 100%; }
			.completeBox ul.social li a { padding: 0 0 0 60px; font-weight: bold; width: auto; float: left; height: 41px; font-size: 20px; color: #005fa2; line-height: 39px; text-decoration: none; text-transform: uppercase; }
			.completeBox ul.social li a:hover { text-decoration: underline; }
			.completeBox ul.social li.facebook a { float: left; background: url(../images/facebook.png) no-repeat; }
			.completeBox ul.social li.twitter a { float: left; background: url(../images/twitter.png) no-repeat; }
			.completeBox ul.social li.mail a { float: left; background: url(../images/mail.png) no-repeat; }
			.completeBox .panel { float: left; width: 100%; }



                        /* ### complete box ### */
			.completeBox2 { padding: 0px 0 0 0px; overflow: hidden; margin-top: 41px; }
			.completeBox2 h2 { padding-bottom: 28px; font-family: 'NeubauGrotesk85Schwer'; font-size: 17px; color: #333; line-height: 17px; text-transform: uppercase; }
			.completeBox2 p { padding: 0 25px 20px 3px; font-family: Georgia; font-size: 14px; color: #666; line-height: 20px; }
			.completeBox2 ul { padding: 0 0 23px 4px; list-style: none; list-style-type: none; overflow: hidden; }
			.completeBox2 li { padding-left: 21px; font-family: Georgia; font-weight: normal; font-size: 17px; color: #666; line-height: 21px; float: left; width: 100%; background: url('../images/arrow.png') left 6px no-repeat; }
			.completeBox2 a.button, .accordion-opener { float: left; }
			.completeBox2 .left { padding: 51px 0 0 3px; width: 315px; float: left; }
			.completeBox2 .left h2 { padding-bottom: 17px; }
			.completeBox2 .right { padding: 51px 0 0 16px; width: 300px; float: left; }
			.completeBox2 .right h2 { padding-left: 2px; }
			.completeBox2 fieldset { padding: 83px 0 0 0; border: 0; overflow: hidden; }
			.completeBox2 fieldset p { padding: 0px 0 11px 0; width: 100%; overflow: hidden; }
			.completeBox2 .field { padding: 1px 16px 0 16px; margin-left: 4px; width: 264px; height: 44px; float: left; border: 0; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 21px; line-height: 42px; color: #333; background: url('../images/field2.png') no-repeat; }
			.completeBox2 h3 { padding: 0 0 17px 4px; font-size: 20px; color: #005fa2; line-height: 24px; text-transform: uppercase; font-weight: normal; }

			/* ### profile box ### */
			.profileBox { padding: 56px 0 0 19px; width: 50%; overflow: hidden;  }
			.admin-client-nav { display: inline-block; width: 50%; padding-top: 30px; }
			.admin-buttons, .admin-buttons input { float: left !important; }
			.profileBox h2, .admin-client-nav h2 { padding-bottom: 18px; font-family: 'NeubauGrotesk45Mager'; font-size: 25px; color: #005fa2; line-height: 26px; text-transform: uppercase; }
			.profileBox p { padding: 0 0 25px 2px; font-family: Georgia; font-size: 14px; color: #666; line-height: 20px; }
			.profileBox label { padding: 0 0 5px 2px; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 15px; text-transform: uppercase; display: block; }
			.profileBox fieldset { border: 0; overflow: hidden; }
			.profileBox fieldset p { padding: 0px 0 20px 0; width: 100%; overflow: hidden; }
			.profileBox .field { padding-left: 5px; margin-left: 2px; width: 609px; height: 45px; border: 0; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 21px; line-height: 42px; color: #333; background: url('../images/field2.png') no-repeat; }
			.profileBox p.gap1 { padding-bottom: 16px; }
			.profileBox p.gap2 { padding-bottom: 16px; }
			.profileBox span { font-family: Georgia; font-size: 14px; color: #999; line-height: 20px; }
			.profileBox .add { padding: 0 0 23px 22px; width: 270px; overflow: hidden; }
			.profileBox p.gap3 { padding-bottom: 16px; }
			.profileBox p.gap4 { padding-bottom: 41px; }
			.profileBox .add.second { padding-bottom: 28px; }
			.profileBox .radio { margin: 0 0 0 6px; width: 25px; height: 25px; float: left; display: block; background: url('../images/radio-button.png') no-repeat; }
			.profileBox label.same { padding: 0 10px 0 7px; float: left; color: #333; font-size: 20px; line-height: 25px; text-transform: none; }
			.profileBox label.net { padding-bottom: 13px; }
			.profileBox span { margin-left: 2px; width: 296px; position: relative; }
			.profileBox span.select { padding-left: 17px; width: 296px; height: 45px; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 21px; line-height: 42px; color: #333;  position: absolute; left: 20px; border: none; float: left; display: block; background: url('../images/select.png') no-repeat; }
			.profileBox select { margin-left: 2px; width: 296px; height: 45px; line-height: 45px; top: 0px;}
			.profileBox p.gap5 { padding-top: 9px; padding-bottom: 16px }
			.profileBox p.gap6 { padding-bottom: 16px; }
			.profileBox p.gap7 { padding-bottom: 41px; }
			.profileBox p.gap8 { padding-bottom: 16px; }
			.profileBox p.gap9 { padding-bottom: 16px; }
			.profileBox p.gap10 { padding-bottom: 16px; }
			.profileBox p.gap11 { padding-bottom: 41px; }
			.profileBox p.gap12 { padding-bottom: 16px; }
			.profileBox p.gap13 { padding-bottom: 45px; }
			#selectprogram{ left: 0px !important }
			.profileBox .button { margin: 17px 1px 0 0;  }
			.profileBox .button.privacy{ margin: -17px 1px 0 0 !important;  }
			.profileBox.second { padding: 30px 0 0 16px; width:50%; display:inline-block; float:left; margin-bottom:50px; }
            .profileBox.third {
            	padding: 30px 0 0 16px;
            	width: 940px;
            }
            #profThirdTab{
            	padding: 30px 16px 0 16px;
				width: 100% !important;
            }
			.profileBox.second2 { padding: 30px 0 0 0px; width: 640px; }
			.profileBox.second#privacy { padding: 30px 0 0 0px; width: 992px; }
			.profileBox.second h2 { padding: 0 0 20px 1px; }
			.profileBox.second p.ungap { padding-bottom: 0px; padding-right: 25px; }
			.profileBox.second#privacy h2 { padding: 0 0 20px 1px; }
			.profileBox.second#privacy p.ungap { padding-bottom: 0px; padding-right: 0px; }
			.profileBox .left { width: 337px; float: left; }
			.profileBox .right { padding: 0 0 0 0; width: 300px; float: left; }
			.profileBox .right#privacy { padding: 0 0 0 0; width: 300px; float: left; margin-top: 25px; }
			.profileBox ul { padding: 18px 0 0 17px; overflow: hidden; }
			.profileBox li { font-family: Georgia; font-size: 14px; color: #666; line-height: 20px; }
			.profileBox li span { color: #b0b0b0; font-style: italic; }
			.profileBox span.safari-hack { float:left; }

			.profileBox.second.full{
				width: 100%;
			}
			.full .left{
				width: 100%;
			}
			.full .txt_area{
				height: 95px;
			}
			.full p#ddownProfile span.select{
				position: relative;
				left: 0;
			}
			.full select.styled{
				left: -296px;
			}
			.full label.same{
				text-transform: capitalize !important;
				font-family: 'NeubauGrotesk45Mager';
			    font-weight: normal;
			    font-size: 18px;
			    line-height: 22px;
			    color: #333;
			    width: 95%;
			}

			#profileBoxInvite{
				padding: 0px !important;
				width: 633px !important;
				/*width: 100% !important;*/
			}
			#profileBoxInvite p{
				padding: 0px !important;
				margin-bottom: 30px !important;
			}

			#profileBoxInvite h2{
				padding: 0px !important;
				margin: 0px !important;
			}

			#respondentList{
				padding: 0px !important;
			}

			.button-link-admin{
				padding: 13px 20px 13px 20px;
				float: left;
				border: 0;
				cursor: pointer;
				text-decoration: none;
				text-transform: uppercase;
				text-align: left;
				font-family: 'NeubauGrotesk65HalbFett';
				font-size: 17px;
				line-height: 17px;
				font-weight: normal;
				color: #fff;
				background: #00579a;
				margin-left: 16px;
			}
			.button-link-admin:hover{
				background-color: #004980;
			}

			.info-help{
				display: inline-block !important;
			}
			.help-icon{
				margin-left: 5px;
				margin-top: -5px;
				height: 16px;
				width: 16px;
				cursor: pointer;
			}
			.help-icon-table{
				height: 12px;
				width: 12px;
				cursor: pointer;
				margin-top: -1px !important;
				margin-left: 2px;
			}
			.help-dashboard{
				margin: 14px 0 0 10px !important;
				height: 16px;
				width: 16px;
				cursor: pointer;
			}
			.tooltip {
				display:none;
				position:absolute;
				border:1px solid #aaaaaa;
				background-color:#fff;
				border-radius:5px;
				padding: 10px;
				color:#333;
				font-family: 'NeubauGrotesk45Mager';
				font-size: 15px;
				max-width: 300px;
			}

			.radio, .ajaxCheckBox{
				cursor: pointer;
			}

			.ajaxCheckBox{
				margin: 0 auto;
				text-align: center;
			}

			#back{
				margin-left: 0px;
			}

			/* ### welcome box ### */
			.welcomeBox { padding: 34px 0 0 17px; width: 360px; float: left; }
			.welcomeBox h2 { padding-bottom: 24px; font-family: 'NeubauGrotesk45Mager'; font-size: 25px; color: #005fa2; line-height: 18px; text-transform: uppercase; }
			.welcomeBox p { padding: 0 40px 17px 2px; font-family: Georgia; font-size: 14px; color: #333; line-height: 20px; }
			.welcomeBox a.button { margin: 1px 39px 0 0;  }
			.welcomeBox p.space { letter-spacing: -1px; }

			/* ### login box ### */
			.loginBox { padding: 23px !important; width: 374px; float: left; }
			.loginBox h2 { padding: 0 0 22px 1px; font-family: 'NeubauGrotesk45Mager'; font-size: 25px; color: #005fa2; line-height: 18px; text-transform: uppercase; }
			.loginBox p { padding: 0 0 17px 3px; font-family: Georgia; font-size: 14px; color: #333; line-height: 20px; }
			.loginBox fieldset { padding: 10px 0 0 0; border: 0; overflow: hidden; }
			.loginBox fieldset p { padding: 0px 0 17px 0; width: 100%; overflow: hidden; }
			.loginBox label { padding-bottom: 6px; display: block; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 15px; color: #666; line-height: 18px; text-transform: uppercase; }
			.loginBox .field { padding: 10px; margin-left: 2px; width: 296px; height: 42px; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 21px; color: #333; border: 0; float: left; background: url('../images/field.png') no-repeat; }
			.loginBox a.button2 {
				width: 164px;
				padding-left: 21px;
				margin-right: 0px;
				margin-top: -3px;
				font-family: Georgia, Arial;
				text-decoration: none;
				float: right;
				font-size: 14px;
				color: #333;
				line-height: 20px;
				text-transform: none;
				background: url('../images/arrow.png') left 5px no-repeat;
			}
			.loginBox a.button2:hover { text-decoration: underline; }
			.loginBox p.gap { padding-bottom: 0px; }
			.loginBox.second h2 { padding-bottom: 28px; }
			.loginBox a.asses { padding-bottom: 13px; display: block; margin-left: 1px; text-decoration: none; width: 296px; overflow: hidden; background: #d52027; }
			.loginBox.second span.text { padding: 16px 0 0 24px; display: block; overflow: hidden; font-family: 'NeubauGrotesk45Mager'; text-transform: uppercase; font-size: 34px; color: #fff; line-height: 38px; font-weight: normal; }
			.loginBox.second span.next { margin: 3px 16px 0 0; width: 40px; display: block; height: 41px; float: right; text-indent: -9999px; background: url('../images/next-icon.png') no-repeat; }

			/* ### about box ### */
			.aboutBox { padding: 16px 0 49px 18px; margin-top: 17px; width: 657px; position: relative; float: left; background: #f0f6fa url('../images/about-bg.png') left top repeat-x; }
			.aboutBox .repeat { width: 335px; float: left; }
			.aboutBox .repeat.gaap { padding-bottom: 60px; }
			.aboutBox h2 { padding-bottom: 15px; font-family: 'NeubauGrotesk45Mager'; font-size: 21px; color: #005fa2; line-height: 26px; text-transform: uppercase; }
			.aboutBox p { padding: 0 10px 20px 1px; font-family: Georgia; font-size: 14px; color: #333; line-height: 20px; }
			.aboutBox p.one { padding-right: 0px; letter-spacing: -1px; }
			.aboutBox p.one.last { padding-right: 25px; }
			.aboutBox p.gap2 { padding-top: 8px; }
			.aboutBox p.gap2 a { color: #005fa2; }
			.aboutBox p.gap2 a:hover { text-decoration: none; }
			.aboutBox .repeat.second { padding-bottom: 100px; width: 310px; }
			.aboutBox img.laptop { position: absolute; bottom: -67px; right: 0px; }
			.aboutBox.new { margin-top: 40px; }
			.aboutBox.new h2 { padding-left: 4px; }
			.aboutBox.new { padding-bottom: 44px; }
			.aboutBox.new .repeat.second { padding-bottom: 0px; }
			.aboutBox.new .repeat.second p { padding-left: 6px; }
			.aboutBox.new img.laptop { position: absolute; bottom: -57px; top: auto; }
			.aboutBox.new a.button { margin: 10px 39px 0 0; width: 144px; height: 39px; font-family: 'NeubauGrotesk45Mager'; text-decoration: none; float: right; font-size: 18px; color: #fff; text-transform: uppercase; font-weight: normal; text-align: center; line-height: 38px; background: #005fa2; }
			.aboutBox.new a.button:hover { background: #231f20; }

		/* ### right container ### */
		#rightCntr { float: left; max-width: 573px; }

			/* ### dash box ### */
			.dashBox { padding: 19px 0 0 0; width: 634px; overflow: hidden; }
			.dashBox h2 { padding-bottom: 13px; font-family: 'NeubauGrotesk45Mager'; font-size: 25px; color: #005fa2; line-height: 28px; text-transform: uppercase; }
			.dashBox span { font-size: 21px; color: #666; }
			.dashBox fieldset { border: 0; overflow: hidden; }
			.dashBox ul { list-style: none; list-style-type: none; overflow: hidden; }
			.dashBox li { float: left; width: 100%; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 16px; color: #666; line-height: 22px; text-transform: uppercase; }
			.dashBox .text { padding: 15px 0 15px 19px; margin-right: 1px; width: 614px; float: left; background: #dfdfdf; }
			.dashBox .text p { padding-top: 11px; float: left; width: 380px; }
			.dashBox .button { margin-right: 18px; margin-top: 2px !important;}
			.dashBox li.next { padding-top: 14px; }
			.dashBox li.next .text { padding-bottom: 10px; }
			.dashBox li.next h2 { padding-bottom: 18px; }
			.dashBox .field { margin-top: -1px; width: 56px; height: 45px; border: 0; float: left; font-size: 20px; color: #333; line-height: 45px; text-align: center; background: url('../images/field3.png') no-repeat; }
			.dashBox .button.two { font-size: 16px; }
			.dashBox p { font-family: Georgia; font-size: 15px; color: #666; line-height: 22px; text-transform: none; }
			#minReqHr{
				margin-top: 30px;
				margin-bottom: 30px;
			}
			#minReq {
				padding-bottom: 15px;
			}
			#minReqText{
				padding: 11px 0px 0px 0px;
				margin: 0px;
			}
			#minReqViewBox{
				padding: 0px;
			}
			#minReqViewBoxUl{
				margin: 0px;
			}
			.minReqBox{
				margin-top: 17px !important;
				float: left !important;
				display: inline-block;
			}
			.minReqBox .field{
				background: url('../images/field3.png') no-repeat !important;
				width: 57px !important;
				margin-top: -1px;
			}
			#min-req-info{
				display: inline-block;
				margin-top: 28px;
				margin-right: 19px;
			}

			/* ### response box ### */
			.responseBox { width: 636px; overflow: hidden; margin-top: -45px; }
			.responseBox .top { padding: 6px 0 0 0; width: 615px; overflow: hidden; }
			.responseBox h2 { padding: 10px 0 0 0; width: 116px; float: left; font-family: 'NeubauGrotesk85Schwer'; text-transform: uppercase; font-size: 17px; color: #333; line-height: 20px; }
			.responseBox .top a { width: 144px; height: 26px; text-transform: uppercase; text-decoration: none; text-align: center; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 11px; color: #333; line-height: 26px; float: right; background: #e6e6e6; }
			.responseBox ul { padding: 17px 0 0 3px; list-style: none; list-style-type: none; overflow: hidden; }
			.responseBox li { padding: 15px 0 5px 0; border-bottom: 1px solid #dfdfdf; float: left; width: 100%; font-family: 'NeubauGrotesk65Halbfett'; font-weight: normal; }
			.responseBox li.first { padding-bottom: 25px; }
			.responseBox .one { width: 186px; float: left; }
			.responseBox .two { width: 283px; float: left; }
			.responseBox .three, .responseBox .last { width: 144px; float: left; }
			.responseBox h3 { padding-left: 20px; font-size: 18px; color: #999; line-height: 22px; text-transform: uppercase; background: url('../images/arrow5.png') left 5px no-repeat; }
			.responseBox h4 { padding-bottom: 4px; font-size: 16px; color: #666; line-height: 22px; text-transform: uppercase; }
			.responseBox span { padding: 0 0 6px 24px; margin-left: 2px; display: block; font-family: Georgia; font-size: 14px; color: #666; line-height: 18px; background: url('../images/dot1.png') left 3px no-repeat; }
			.responseBox .two a { font-family: Georgia; font-size: 14px; color: #005fa2; line-height: 18px; text-decoration: none; }
			.responseBox .two a:hover { text-decoration: underline; }
			.responseBox .last input { font-size: 14px; line-height: 14px; }
			.responseBox .last input.differ { margin-top: 5px; }


			.responseBox span.yellow { background: url('../images/dot2.png') left 3px no-repeat; }
			.responseBox span.red { background: url('../images/dot3.png') left 3px no-repeat; }

			/* ### social box ### */
			.socialBox { padding: 41px 0 0 0; width: 632px; overflow: hidden; }
			.socialBox h2 { padding-bottom: 19px; font-family: 'NeubauGrotesk45Mager'; text-transform: uppercase; font-size: 25px; color: #005fa2; line-height: 26px; }
			.socialBox p { padding-bottom: 26px; font-family: Georgia; font-size: 14px; color: #666; line-height: 20px; }
			.socialBox ul { list-style: none; list-style-type: none; overflow: hidden; }
			.socialBox li { padding-bottom: 6px; float: left; width: 100%; }
			.socialBox li a { padding-left: 60px; font-weight: bold; font-family: 'NeubauGrotesk45Mager'; float: left; height: 41px; font-size: 20px; color: #005fa2; line-height: 39px; text-decoration: none; text-transform: uppercase; }
			.socialBox li a:hover { text-decoration: underline; }
			.socialBox li.facebook a { float: left; background: url(../images/facebook.png) no-repeat; }
			.socialBox li.twitter a { float: left; background: url(../images/twitter.png) no-repeat; }
			.socialBox li.mail a { float: none; margin-bottom: 6px; display: block; background: url(../images/mail.png) no-repeat; }
			.socialBox fieldset { padding: 14px 0 0 0; border: 0; overflow: hidden; width: 300px; }
			.socialBox fieldset p { padding-bottom: 12px; width: 100%; overflow: hidden; }
			.socialBox label { padding-bottom: 6px; text-transform: uppercase; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 15px; color: #666; line-height: 18px; display: block; }
			.socialBox .field { padding: 14px 10px 12px 10px; margin-left: 2px; font-family: Georgia; font-weight: normal; font-size: 14px; line-height: 35px; color: #515151; width: 276px; height: 19px; border: 0; float: left; background: url(../images/field.png) no-repeat; }
			.socialBox textarea { padding: 10px; width: 276px; height: 125px; float: left; resize: none; font-family: Georgia; font-size: 14px; color: #515151; line-height: 20px; border: 0; background: url(../images/textarea.png) no-repeat; }
			.socialBox .button:hover { background: #231F20; }
			.socialBox .button { margin-top: 5px; float: right; width: 144px; height: 40px; font-family: 'NeubauGrotesk45Mager'; font-size: 16px; color: #fff; line-height: 40px; text-align: center; text-transform: uppercase; cursor: pointer; border: 0; background: #005fa2; }
			.socialBox .openme { overflow: hidden; width: 100%; }
			.socialBox h3 { font-weight: normal; }

			/* ### view box ### */
			.viewBox { padding: 40px 0 0 0; width: 635px; overflow: hidden; }
			.viewBox h2 { padding-bottom: 28px; font-family: 'NeubauGrotesk85Schwer'; font-size: 17px; color: #333; line-height: 17px; text-transform: uppercase; }
			.viewBox ul { padding-bottom: 21px; list-style: none; list-style-type: none; overflow: hidden; width: 632px; background: #dfdfdf; }
			.viewBox li { padding: 13px 0 2px 19px; margin-left: 2px; width: 609px; overflow: hidden; }
			.viewBox p { font-family: Georgia; font-size: 14px; color: #666; line-height: 18px; float: left; }

            .viewBox a { margin: 2px 16px 0 0;  }


			.viewBox li.second p { padding: 0 0 0 27px; background: url(../images/dot4.png) 3px 3px no-repeat; }
            .viewBox li.second p.groen { padding: 0 0 0 27px; background: url(../images/dot1.png) 3px 3px no-repeat; }
            .not-ready{
            	padding: 0 0 0 27px; background: url(../images/dot4.png) 3px 3px no-repeat;
            }
            .ready{
            	padding: 0 0 0 27px; background: url(../images/dot1.png) 3px 3px no-repeat;
            }
			/* .viewBox li.second a:hover { background: #005fa2; }			*/

            p.indent {margin-left: 3px;margin-right: 3px;}

            .text_email { width: 350px;height: 200px;}

.preTable {
	margin-bottom: 32px;
}

#fd-table-1
{
    font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	border-collapse: collapse;

}

#zoeken {
    font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	width: 300px;
	text-align: left;
	border-collapse: collapse;
	border: solid 1px #ccc;
}

#fd-table-1 thead th.linksboven
{

        width:1px;
}

#fd-table-1 th, #zoeken th
{
	padding-left:10px;
        background-color: #ccc;
        height: 15px;
}

#zoeken td {
    background-color: #fff;
    height: 15px;
    padding: 5px;
}

#searchbox  {
    margin-right: 0px;
    float: right;
    margin-bottom: 30px;
}

#fd-table-1 thead th.rechtsboven
{

        width:15px;
        padding-left:0px;
}
#fd-table-1 th.header
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}

#fd-table-1 th a {
	text-decoration: none;
	   color: #ffffff;
}

#fd-table-1 th a:visited {
	text-decoration: none;
	   color: #ffffff;
}

#zoeken th {
    color: #ffffff;
}

#fd-table-1 tr.alt td
{
	padding: 8px;
	background: #fddfac;
	border-top: 1px solid #fff;
        color: #797268;

}

#fd-table-1 tr td {
	padding: 8px;
	background: #fff;
	border-top: 1px solid #fff;
    color: #4f6b72;
}
.fdTableTtrTd {
	background-color: transparent !important;
	border: none !important;
	font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif !important;
	text-align: left !important;
	color: #4f6b72 !important;
}

#fd-table-1 tr td a,#fd-table-1  tr td a:visited
{
	text-decoration: underline;
        color: #000;

}

#fd-table-1 tfoot th.linksonder
{

        width:1px;
}
#fd-table-1 tfoot th.rechtsonder
{

        padding-left:0px;
}
#fd-table-1 tbody tr:hover td
{
	background: #eee;
}


/************************************************
 * Added by Laurent ---> START
 ************************************************/

/**
 * Homepage styling
 */
.homeBox {
	height: 100%;
	width: 100%;
	padding-top: 40px;
	box-sizing: border-box;

}

	.homeBox .introduction {
		width: 45%;
		margin-right: 5%;
		float: left;
		display: inline-block;
	}
	#homeBoxiPad{
		width: 50%;
		float: left;
		display: inline-block;
	}

		.homeBox .introduction h1 {
			font-family: 'NeubauGrotesk55Normal';
			font-size: 32px;
			text-transform: uppercase;
			color: #0066b3;
			margin: 0;
		}

		.homeBox .introduction .info,
		.homeBox .introduction .usps {
			font-size: 16px;
			font-family: 'Georgia', 'Times New Roman', times, serif;
			color: #666;
		}

		.info#thx {
			margin-top: 20px;
		}

		.homeBox .introduction .usps {
			margin: 0;
			margin-top: 40px;
			min-height: 175px;
		}

		.homeBox .introduction .usps li {
			margin: 5px 0;
		}

		.homeBox .introduction a.button {
			display: block;
			clear: both;
			float: none;

			font-size: 17px;
			line-height: 17px;

			width: 201px;
		}

			.homeBox.thanks .introduction a.button {
				width: 220px;
			}

		.homeBox .introduction a.start {
			margin: 40px 0 10px 0;
		}

	/*.homeBox*/ .information {
		display: none;
		background: #e9f2f9;

		padding: 40px 40px;
		/*margin-left: 20px;*/
		z-index: 1;
		/*margin-top: -40px;*/

		width: 100%;
	}

		/*.homeBox*/ .information .col1,
		/*.homeBox*/ .information .col2 {
			width: 47%;
			float: left;
			display: inline-block;

			font-family: 'Georgia', 'Times New Roman', times, serif;
			font-size: 15px;
			color: #666;
			line-height: 150%;
		}

		/*.homeBox*/ .information .col1 {
			margin-right: 5%;
		}

	.homeBox .loginBox {
		display: none;
		padding: 32px;
		background: #fff;
		border: #ccc 1px solid;
        box-shadow:  5px 5px 5px 5px #cccccc;
        z-index: 999;
	}

		.homeBox .loginBox .close {

			display: block;

			background: #eeeeee url('/media/images/loginbox_close.png') no-repeat 22px 7.5px;

			padding: 13px 18px 13px 40px;

			text-transform: uppercase;
			text-decoration: none;
			font-family: 'NeubauGrotesk85Schwer';
			font-size: 14px;
			color: #333;

			margin-top: -23px;
			margin-left: 291px;
			width: 58px;
			height: 26px;
		}

		.homeBox .loginBox .close:hover {
			color: #111;
			text-decoration: underline;
		}

		.homeBox .loginBox .signup {
			margin-right: 10px;
		}

		#signup{
			margin-bottom: 5px;
		}


/**
 * Homepage steps
 */
.halfMargin{
	margin-top: 40px !important;
}

.howitworks {
	text-transform: uppercase;
	font-family: 'NeubauGrotesk45Mager';
	font-size: 25px;
	color: #005FA2;
	margin: 0;
	margin-top: 80px;
}

.steps {
	list-style: none;
	margin: 0;
	margin-top: 40px;
	padding: 0;
}

	.steps li {
		float: left;
		/*position: relative;*/

		display: block;
		width: 302px;
		padding: 10px 10px 0px 10px;

		min-height: 198px;

		background: #e9f2f9 url('/media/images/steps_border.png') no-repeat bottom right;
	}

	/**
	 * The last item doesnt have the border image
	 */
	.steps li.last {
		background-image: none;
	}

	.steps li .stepnumber {
		position: absolute;
		left: 0;
		top: 0;

		font-family: 'NeubauGrotesk65HalbFett';
		font-weight: normal;
		font-size: 18px;
		color: #fff;

		background: #005fa2;
		padding: 10px 10px;
		min-width: 10px;
	}

	.steps li h2 {

		padding-left: 25px;

		text-transform: uppercase;
		font-family: 'NeubauGrotesk85Schwer';
		font-size: 17px;
		color: #333;

		margin-bottom: 30px;
	}

	.steps li img {
		float: left;
		margin: 0 15px 0px 0;
	}

	.steps li .description {

		font-family: 'Georgia', 'Times New Roman', times, serif;
		font-size: 13px;
		color: #666;

	}

/**
 * Featured image on homepage
 */
.featured {
	/*position: absolute;
	top: -50px;
	right: 40px;*/
	float: right;
	display: inline-block;
	max-width: 50%;
}
.featured.ipadipad {
	right: 100px;
}

/**
 * Social sharing
 */
.socialshare {
	background: #e9f2f9;
	padding: 29px 35px 30px 35px;
	text-transform: uppercase;
	color: #005fa2;
	font-family: 'NeubauGrotesk85Schwer';
	font-size: 16px;
	margin-top: 1px;
}
#congrats{
	margin-bottom: -3px;
}

	.socialshare .description {
		float: left;
		padding: 5px 30px 0 0;
	}

	.socialshare .addthis {
		float: left;
	}

.addthis_toolbox{
	display: inline-flex;
}

.addthis_toolbox a{
	margin-left: 5px;
}


/**
 * Sticky footer
 */

/*#footer {
	background: #e9f2f9;
}

	#footer .sitewidth {
		width: 992px;
		margin: 0 auto;
	}

	#footer a {
		color: #333;
		text-decoration: none;
	}

		#footer a:hover {
			text-decoration: underline;
		}

	#footer .poweredby {
		margin-top: 19px;
		float: left;
	}

	#footer .poweredby em {
		font-family: 'NeubauGrotesk85Schwer';
		font-weight: normal;
		font-style: normal;
	}

	#footer .feedback {
		background: url('/media/images/feedback_icon.png') no-repeat 0px 3px;
		padding-left: 25px;

		float: left;
		margin-top: 22px;
		margin-left: 50px;
		margin-right: 24px;
		color: #333;

		text-transform: uppercase;
	}

	#footer .twitterit {
		float: right;
		display: block;

		margin-right: 24px;
		margin-top: 13px;

		width: 180px;
		height: 50px;
		background: url('/media/images/twitter_it.png') no-repeat;
	}

		#footer .twitterit:hover {
			background-position: 0 -90px;
		}*/

/**
 * Home question slider
 */
.questions{
	padding-top: 30px;
}

.questions h2 { padding-bottom: 18px; font-family: 'NeubauGrotesk45Mager'; font-size: 25px; color: #005fa2; line-height: 26px; text-transform: uppercase; }

.questions hr {
	margin: 30px 0px 30px 0px;
}

#questions{
	padding-bottom: 30px;
}

.header_tab{
	margin-top: 30px;
}

.questionslidesTitle {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'NeubauGrotesk65HalbFett';
	color: #005fa2;
	margin: 0;
}

#newQuestion{
	float: left;
	color: white;
}

#saveQuestions{
	margin-top: 62px;
}

.questionslidesTitle#thx {
	margin-bottom: 20px;
}

.questionslides {
	list-style: none;
	padding: 0;
	min-height: 360px;
	margin-bottom: 0;
	position: relative;
	min-height: 150px;
}

.questionslides li {
	position: absolute;
	display: none;
	padding: 15px 0 15px 0px;
	font-weight: 300;
	font-size: 25px;
	font-family: 'NeubauGrotesk45Mager';
	color: #22477d;
	line-height: 120%;
}

/**
 * General UI improvements
 */
a {
	color: #0066b3;
}

input[type="submit"], input[type="button"], a.button {
	padding: 13px 20px 13px 20px;
	float: right;

	border: 0;
	cursor: pointer;

	text-decoration: none;
	text-transform: uppercase;
	text-align: left;

	font-family: 'NeubauGrotesk65HalbFett';
	font-size: 17px;
	line-height: 17px;
	font-weight: normal;

	color: #fff;
	/*background: #005fa2 url('/media/images/button_arrow.png') no-repeat 18px 15px;*/
	background: #00579a;

	/*transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;*/
}

	input[type="submit"]:hover, input[type="button"]:hover, a.button:hover {
		background-color: #004980;
		background-position: 22px 15px;

		/*transition: 0.2s;
		-moz-transition: 0.2s;
		-webkit-transition: 0.2s;
		-o-transition: 0.2s;*/
	}

		input[type="submit"].disabled, input[type="button"].disabled, a.disabled.button,
		input[type="submit"].disabled:hover, input[type="button"].disabled:hover, a.disabled.button:hover {
			background-color: #999;
			background-position: 18px 15px;
		}

	input[type="submit"].disabled, input[type="button"].disabled, a.button.disabled {
		cursor: default;
	}

	input[type="submit"].grey, input[type="button"].grey, a.button.grey {
		background-color: #acacac;
		/*background-image: url('/media/images/button_arrow_grey.png');*/
		color: #fff;

	}

	#information_toggle{
		width: 146px !important;
	}

		input[type="submit"].grey:hover, input[type="button"].grey:hover, a.button.grey:hover {
			background-color: #9f9f9f;
			/*background-image: url('/media/images/button_arrow_grey_dark.png');*/
			color: #fff;

			/*transition: 0.2s;
			-moz-transition: 0.2s;
			-webkit-transition: 0.2s;
			-o-transition: 0.2s;*/
		}

	input[type="submit"].grey.toggled, input[type="button"].grey.toggled, a.button.grey.toggled {
		background-color: #9f9f9f;
		/*background-image: url('/media/images/button_arrow_grey_dark_rotate.png');*/
		background-position: 18px 18px;
		color: #fff;

		/*transition: 0.2s;
		-moz-transition: 0.2s;
		-webkit-transition: 0.2s;
		-o-transition: 0.2s;*/
	}

		input[type="submit"].grey.toggled:hover, input[type="button"].grey.toggled:hover, a.button.grey.toggled:hover {
			background-position: 18px 18px;
		}

.profileBox .error {
	margin-top: 15px;
	color: #cc0000;
}

#jsError{
	margin-top: 76px;
}
#jsError label{
	margin: 0;
	padding: 8px;
	width: 100%;
	background-color: #cc0000;
	color: white;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}


.errorResetPass {
	margin-top: 15px;
	color: #cc0000;
	margin-bottom: 15px;
	font-family: Georgia;
	font-size: 14px;
	line-height: 20px;
}

#webreepDOTcomSlyle .fbffooterbtn input {
	font-family: 'NeubauGrotesk65HalbFett';
	font-size: 17px;
	line-height: 17px;
	font-weight: normal;

	padding: 8px 30px;
	border: 0;
	background-image: none;
}

	#webreepDOTcomSlyle .fbffooterbtn input:hover {
		background-image: none;
		background: #333;
	}

.social-bar{
	float: right;
	margin-top: 19px;
	margin-right: 24px;
}
.social-bar-home{
	margin-right: 21px;
}
.size32{
	width: 32px;
	height: 32px;
}
.social-bar a:hover,
.socialshare a:hover{
	opacity: 0.75;
}
.copyright-text{
	float: left;
	margin-top: 31px;
}
.share-text{
	float: left;
	font-family: 'NeubauGrotesk45Mager';
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
	margin-right: 10px;
	color: #666;
}

.completeBox.leftThxBox{
	margin-left:-334px;
}
.completeBox.leftThxBox a.button, .accordion-opener {
	margin: 0 0 0 0;
	float: left;
}

/************************************************
 * Added by Laurent ---> END
 ************************************************/

.tabs, .header_tab {overflow: hidden}
.txt_area { padding: 10px; margin: 0px 0 0 0px; resize: none; font-family: 'NeubauGrotesk45Mager'; font-weight: normal; font-size: 18px; line-height: 22px; color: #333; width: 609px; min-height: 95px; border: 0; background: url('../images/textarea2.png') no-repeat; }

#add_participants { float:right; width:50%; border-left: solid 1px #666; padding-left: 145px;}
#statistics {float:left; width: 50%; /*border-right: solid 1px #000;*/}
/*#verticalHr {border-left:1px solid #A0A0A0; height:566px; float:left; margin-left:191px;}*/

/************************************************
 * Bootstrap ---> Validation form
 ************************************************/
.help-block{
	margin-left: 10px;
	margin-top: 15px;
	padding: 0 0 5px 2px !important;
	color: #cc0000 !important;
	font-family: 'NeubauGrotesk45Mager' !important;
	font-weight: normal;
	font-size: 15px !important;
	text-transform: uppercase;
	line-height: 20px !important;
	display: block;
	box-sizing: border-box;
	cursor: default;
}
.hbtop{
	margin-top: -20px !important;
}

/************************************************
 * Sticky ---> Header and Footer
 ************************************************/

/*#mainCntr {overflow:auto;padding-bottom: 90px;}  /* must be same height as the footer */
/*#footer {position: relative; margin-top: -70px; height: 70px; clear:both;} */
/*body:before {content:""; height:100%; float:left; width:0; margin-top:-32767px; }*/

html, body, #wrapper { height: 100% ; }
body > #wrapper { height: auto ; min-height: 100% ; }
#mainCntr { padding-bottom: 50px ; padding-top: 80px; } /* must be same height as the footer, header */
/*footer { clear: both ; position: relative ; z-index: 10 ; height: 90px ; margin-top: -90px ; /* must be same height as the footer */ /*}*/
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;
	height: 50px;
}

.f4c, .f3c{
	float: left;
	display: inline-block;
	width: 25%;
	height: 50px;
	margin: 0 auto;
	box-sizing: border-box;
}
.f3c{
	width: 33% !important;
}
.f4c h3, .f3c h3{
	font-size: 17px;
	margin: 0;
	padding: 16.5px 0;
	text-align: center;
}
.f4c img, .f3c img{
	height: 30px;
	width: auto;
	margin: 10px auto;
}
#f4c_mail, #f3c_mail{
	width: 124px;
	height: 100%;
	margin: 0 auto;
}
#f4c_img_mail, #f4c_txt_mail, #f3c_img_mail, #f3c_txt_mail{
	float: left;
}
#f4c_txt_mail, #f3c_txt_mail{
	padding: 15px 0;
	margin-left: 10px;
}

/*html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 90px; /* bottom = footer height */
/*}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
}*/

#mainCntr {
	max-width: 928px;
	margin: 0 auto;
}

/* NAV BAR */
#header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: #f8f8f8;
	max-height: 80px;
}

/* FOOTER */
#footer {
	background-color: #dcdcdc;
	/*padding: 60px 0;
	margin-top: 40px;*/
}

.footer-1 {
	width: 74.55357%;
	float: left;
	margin-right: 1.78571%;
}

.footer-2 {
	width: 23.66071%;
	float: right;
	margin-right: 0;
}

#footer ul {
	margin-bottom: 20px;
	margin-top: 35px;
}

#footer a {
	color: #111;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

/************************************************
 * THNK LNK style
 ************************************************/

/* GLOBAL */
html body {
	font-family: "NeubauGrotesk55Normal",Arial,sans-serif;
	word-wrap: break-word;
	line-height: 1.3;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	margin: 0;
}

h1, h2, h3, h4, dt, h5, h6 {
	font-weight: 400;
	line-height: 1;
	padding: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
	display: block;
}

a {
	color: #0066b3;
	background: transparent;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

ul, nav ul, ol, nav ol {
	list-style: none;
	padding: 0;
}

p {
	margin: 0 0 1.25em 0;
}

p:last-child {
	margin-bottom: 0;
}

.clearfix:after, .form-item:after, .messages:after, .tasks:after, ul.tabs:after, ul:after, ol:after, #header:after, #footer:after, #main:after {
	content: "";
	display: table;
	clear: both;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 928px;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

header .branding {
	float: left;
	padding: 10px 8px 10px 0px;
	width: 208px;
	height: 80px;
}

.logo img {
	width: auto;
	height : auto;
	max-height: 100%;
	max-width: 100%;
}

.block-menu{
	float: right;
	height: 80px;
}

.block-menu ul{
	margin: 0;
	height: 100%;
}

.block-menu li{
	display: inline-block;
	text-align: center;
	float: left;
	width: 150px;
}

.block-menu li:first-child {
	width: 250px;
}

.block-menu li li {
	width: 100%;
	max-width: 150px;
	display: block;
}

.block-menu li a {
	font-size: 15px;
	font-family: 'NeubauGrotesk55Normal';
	color: #666666;
	text-decoration: none;
	float: left;
	width: 100%;
	max-width: 150px;
}

.block-menu li a:hover {
	background-color: #e6e6e6;
}

.block-menu li a.active{
	font-weight: bold;
	background-color: #e6e6e6;
	color: #111;
}

.vert {
	position: relative;
	display: table;
	width: 100%;
	max-width: 150px;
	height: 80px;
	vertical-align: middle;
}
.vert span {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 8px;
}

.block-menu li:first-child li, .block-menu li:first-child a, .block-menu li:first-child .vert {
	max-width: 250px;
}

#down:after {
	color: #444;
	content: ' ▾';
}

.logSelColor{
	background-color: #e6e6e6;
}

.logSelColor li a:hover{
	font-weight: bold;
	background-color: #e6e6e6;
	color: #111;
}

.partUl, .adminUl, .outUl, .mainNav{
	display: block;
	width: 240px;
}


/* MAIN */
.hero {
	font-size: 36px;
	padding: 0.5em 0;
	color: #acacac;
}

.hero p {
	margin: 0;
}

.new_ref_button{
	float:left !important;
	margin-bottom: 15px;
	width: 296px;
}

#new_ref_button{
	padding-right: 47px !important;
}

#new_ref_button2{
	padding-right: 15px !important;
}

#new_ref_button3{
	padding-right: 25px !important;
}

/*for lightbox*/
#lightbox {
	position: absolute;
	top: 0;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background: #fff;
	z-index: 1001;
	display: none;
}
#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}

/*for remove user*/
.ui-dialog-content, .ui-widget-content{
	font-family: Georgia;
	font-size: 15px;
	color: #666;
	line-height: 22px;
	text-transform: none;
}
button.ui-button:last-child{
	margin-right: 40px !important;
}

/*for dashboard*/
#respondentsH2{
	width: 117px;
}

#THNKTemplate{
	float: left!important;
}

.finishTest{
	margin-top: 30px !important;
	margin-bottom: -1px;
}

#numResp{
	width:632px;
}


progress{
	width: 575px!important;
	height: 50px;
	position: relative;
	-webkit-appearance: none;
   	appearance: none;
   	color:#DEE8F0;
   	float: left;
}

progress[value]::-webkit-progress-bar {
  background-color:transparent;
}

progress::-webkit-progress-value {
  background:#005FA2;

}

progress.disable::-webkit-progress-value {
  background:grey;
  position: absolute;
}

.try{
	position: relative;
	z-index: 3;
	background-color:transparent;
}

.index{
	z-index: 1;
}

.hover{
	background-color:#DEE8F0;
	opacity: 0.5;
	z-index: 2;
}

div.one h3{
	margin-top:
}

#csv{
	margin-bottom: 30px;
}

#csv_txt{
	padding: 0 0 25px 2px;
	font-family: Georgia;
	font-size: 14px;
	color: #666;
	line-height: 20px;
}

#learn_how, #learn_how_export{
	cursor: pointer;
}

#name{
	width:241px;
}

#commentForm #name{
	width: 296px;
}

#buy_seats_p{
	margin-bottom: 60px;
	margin-top: -40px;
}

.dashErr{
	margin-left: 0px!important;
	width: 400px !important;
	margin-top: -23px !important;
}

/*#testsView{
	position: relative;
	float: left;
	margin-left:50px;
	margin-top:50px;
}
#testsView td{
	width:150px;
	padding-left: 25px;
}
#testTable td:nth-child(even){
	box-shadow: 2px 2px 1px #888888!important;
}
#testTable tr:nth-child(1) td:nth-child(2){
	box-shadow: 0px 0px 0px #888888!important;
}*/

#testsView{
	padding-left: 0px !important;
	padding-right: 16px !important;
}
#testTable{
	width: 100%;
}
#pBoxLab{
	padding: 0 0 5px 2px;
	font-family: 'NeubauGrotesk45Mager';
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
	display: block;
	color: #666;
	line-height: 20px;
	width: 140px;
}
.hidden{
	display: none;
}
.highlighted{
	background-color: rgb(250, 255, 189) !important;
}
.adminMsg{
	float: right !important;
	margin: 0px !important;
	width: 400px !important;
}
.profTotalWidth {
	padding: 30px 0 0 16px;
	width: 100% !important;
}
.searchLeft {
	float: left !important;
	max-width: 50% !important;
}

.numbersTest{
	float: left;
	color:#666666;
	display:block;
	font-family:NeubauGrotesk45Mager;
	font-size:15px;
	font-weight:normal;
	line-height:20px;
	padding:0 0 5px 2px;
	text-transform:uppercase;
}

#buttonReset{
	float: left!important;
}

#programForm{
	float: left;
}

#programForm > input, #programFormData > input{
	float: left;
}

#selectprogram_options, #selectprogram_options_data{
	margin-left: -20px;
}

#ddownProfile > span{
	margin-left: 0px;
}

#invitePrograms span.select {
	padding-left: 17px;
	width: 296px;
	height: 45px;
	font-family: 'NeubauGrotesk45Mager';
	font-weight: normal;
	font-size: 21px;
	line-height: 42px;
	color: #333;
	position: relative;
	left: 0px;
	border: none;
	float: left;
	display: block;
	background: url('../images/select.png') no-repeat;
}

#inviteProgramsSelect{
	top:-45px;
}

.errorTxt_o{
	font-family: Georgia;
	font-size: 14px;
	color: rgb(255, 0, 0);
	line-height: 17px;
}

.maxWidth{
	width: 100%;
}

#view_text {
	color: #666;
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, Arial;
	max-width: 520px;
}

#fancybox-inner{
	width: 542px !important;
	height: 320px !important;
}

.addthis_toolbox.addthis_default_style.addthis_32x32_style {
	padding: 0 !important;
	float: left;
}
.follow .custom-images a img.size32 {
	margin-right: 10px;
	width: 32px;
	height: 32px;
	float: left;
	margin-bottom: 8px;
	opacity: 1;
}

.thanksTHNKMain{
	/*margin-top: 64px;*/
}
.thanksTHNKMainLeft{
	width: 48%;
	float: left;
	display: block;
}
.thanksTHNKMainRight{
	width: 48%;
	float: right;
	display: block;
}

.thnk_32{
	height: 32px;
}

#selectcountry, #selectprogram_options, #selectprogram_options_data, #selectsurvey_options{
	position: relative;
	left: 0;
}
#survey_options{
	margin-left: -296px;
}
#country{
	top: -45px;
}

.program-select {
	position: relative;
}

.program-select #selectprogram_options{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.program-select #selectprogram_options, #selectprogram_options_data{
	left: 20px;
}

#logo h2{
	width: 350px;
	height: 45px;
	text-indent: -9999px;
	background: url('../images/logo.png') no-repeat;
}

#no-logo h2{
	width: 350px;
	height: 45px;
	text-indent: -9999px;
	background: url('../images/no-logo.png') no-repeat;
	cursor: default;
}

#impact{
	background: url('../images/logo_impact.png') no-repeat !important;
}

#logoQM h2{
	width: 440px;
	height: 45px;
	text-indent: -9999px;
	background: url('../images/logoQM.png') no-repeat;
	cursor: pointer;
}

#logoRM h2{
	width: 440px;
	height: 45px;
	text-indent: -9999px;
	background: url('../images/runway_mirrir_logo.png') no-repeat;
	cursor: pointer;
}

#logoES h2{
	width: 480px;
	height: 45px;
	text-indent: -9999px;
	background: url('../images/logoES.png') no-repeat;
	cursor: pointer;
}

#thnk_info{
	margin-top: -30px;
}

.question-landing{
	font-family: Georgia;
	color: #333;
}

.access-user-details{
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

#no-user-details{
	cursor: not-allowed;
}

#table-cols{
	text-align:center;
}

#manage-users-info{
	margin-top: -8px;
}

#table-resps{
    font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif !important;
    cursor: default;
    padding: 0;
}

.lijstscherm{
	margin-top: 87px;
}

.lijstscherm table thead tr th{
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	font-family: 'NeubauGrotesk65Halbfett';
}

.lijstscherm table tbody, #table-resps{
	font-size: 12px;
	font-family: 'Arial';
}

.lijstscherm table tbody tr td:nth-child(1) input{
	max-width: 66px !important;
}
.lijstscherm table tbody tr td:nth-child(2) input{
	max-width: 72px !important;
}

.lijstscherm table thead tr:nth-child(2) th:nth-child(4){
	min-width: 115px !important;
}
.lijstscherm table thead tr:nth-child(2) th:nth-child(5){
	min-width: 105px !important;
}
.lijstscherm table thead tr:nth-child(2) th:nth-child(7){
	min-width: 90px !important;
}
.lijstscherm table thead tr:nth-child(2) th:nth-child(8), .lijstscherm table thead tr:nth-child(2) th:nth-child(9){
	min-width: 65px !important;
}
.space3{
	float: left;
	width: 280px;
}
.space3 p{
	margin: 14px 0 0 0 !important;
}
.space3 a{
	margin: 0 !important;
}
.space1{
	float: left;
	width: 30px;
}


.spacer8 {
	height: 8px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer16 {
	height: 16px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer32 {
	height: 32px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer64 {
	height: 64px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

#space6{
	height: 6px;
}

/*.red{
	background-color: #f33 !important;
}*/

.popup {
	padding: 2em;
}

.export-data {
	padding: 0 !important;
	width: 100% !important;
}

.export-data__tabs {
	margin: 1em 0 0 0;
	padding: 0 !important;
	list-style: none;
	overflow: visible !important;
}

.export-data__tab {
	display: inline-block;
}

.export-data__tab-link {
	position: relative;
	z-index: 1;
	top: 1px;

	transition: all 0.15s;
	display: block;
	padding: 0.7em 1.5em;
	background: #e6e6e5;
	color: #005FA2;
	border: 1px solid #ccc;

	font-family: 'NeubauGrotesk45Mager';
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;

	text-decoration: none;
}

.export-data__tab--active .export-data__tab-link,
.export-data__tab-link:hover {
	background: #fff;
}

.export-data__tab--active .export-data__tab-link {
	border-bottom-color: #fff;
	pointer-events: none;
	cursor: default;
}

.export-data__content {
	display: none;
	position: relative;
	border: 1px solid #ccc;
	background: #fff;
	padding: 1.5em;
	margin-bottom: 1.5em;
}

.export-data__content--active {
	display: block;
}

.export-data__users-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 47%;
	margin-right: 2%;
}

.export-data__users {
	margin-bottom: 0;
	border: 1px solid #ccc;
	padding: 0 !important;
	list-style: none;
	height: 220px;
	overflow-y: scroll !important;
}

.export-data__user {
	display: block;
	padding: 0.5em;
	cursor: move;
	border-bottom: 1px solid #ccc;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.export-data__user--dragging {
	background: #fff;
	border: 1px solid #ccc;
	opacity: 1;
}

.export-data__user--ghost {
	background: #d2e0f9;
}

.export-data__user:last-child {
	border-bottom: none;
}

.export-data__user__name {
	font-weight: bold;
}

.export-data__filter {
	margin-bottom: 0.5em;
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

.export-data__filter .net {
	padding-top: 0.3em;
	float: left;
	width: 40%;
	margin-right: 2em;
	padding-bottom: 0 !important;
}

.export-data__submit {
	margin-top: 0 !important;
}

.export-data__errors {
	background: #ffeced;
	border: 1px solid #c51a1a;
	border-radius: 6px;
	padding: 0.6em 2em !important;
	margin: 1.5em 0 !important;
	list-style: disc !important;
}

.export-data__error {
	color: #c51a1a !important;
}

.endeavorTitle {
	text-transform: uppercase;
	font-family: 'NeubauGrotesk45Mager';
    font-weight: normal;
    font-size: 15px;
    color: #666;
    margin-bottom: 8px;
}
.endeavorDesc {
	text-transform: none;
	font-family: 'NeubauGrotesk45Mager';
    font-weight: normal;
    font-size: 17px;
    color: #666;
    margin-bottom: 8px;
}
.endeavorTitle p {
	font-family: 'NeubauGrotesk55Normal';
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    text-transform: none;
}

@media print {
	#header, #footer {
		display: none !important;
	}
}

.email {
	max-width: 297px;
}

/** 
 * FORM CATEGORY HEADER
 */
.categoryTitle h2 {
	padding-left: 15px;
} 
.categoryTitle p {
	padding-left: 25px; 
	padding-right: 35px; 
	color: #666; 
	font-family: Georgia;
} 