/* ### general ### */
* { padding: 0px; margin: 0px; }
html, body { font:12px/1.5 Georgia,"Times New Roman",Times,serif; color: #000; }
h2 {margin: 20px;}
div.appointment { margin: 20px; margin-bottom: 35px;}
span {
    display: block;
}

span.locatie {
    font-style: italic;
}

span.tijdstip {
    font-weight: bold;
}

div.appointment ul {
    margin-top: 10px;
}
div.appointment li {
    margin-left: 30px;
}

#print_client_card {
    margin-left: 155px;
}

#print_client_card td.eerste {
    width: 350px;
    font-weight: bold;
}


#print_client_card td.antwoord {
    width: 300px;
}

#print_client_card td.tweede {
    width: 300px;
    font-weight: bold; 
}

#print_client_card td {
    height: 25px;
}

#disclaimer {
    margin-left: 15px;
}


.vraag {

    font-weight: bold;
}

.vena {
    margin-top: 30px;
    margin-bottom: 30px;
}

.vena_open {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid;
    width: 700px;

}























/* ### LIJST EN DETAILSCHERMEN FREEDOM ### */
/*

  TABEL LIJSTSCHERM

*/

table.rounded-corner
{
        font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	width: 945px;
	text-align: left;
	border-collapse: collapse;

}
table.rounded-corner span
{

    width: 5px;
}
table.rounded-corner thead th.linksboven
{
	background: url('../images/links.png') right 0px no-repeat;
        width:1px;
}

table.rounded-corner th
{
	padding-left:10px;
}

table.rounded-corner thead th.rechtsboven
{
	background: url('../images/rechts.png') left -1px no-repeat;
        width:15px;
        padding-left:0px;
}
table.rounded-corner th.header
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #9B8852;
}

table.rounded-corner th a {
	text-decoration: none;
	   color: #ffffff;
}

table.rounded-corner th a:visited {
	text-decoration: none;
	   color: #ffffff;
}

table.rounded-corner tr.alt td
{
	padding: 8px;
	background: #f6e6b8;
	border-top: 1px solid #fff;
        color: #797268;

}

table.rounded-corner tr td
{
	padding: 8px;
	background: #fff;
	border-top: 1px solid #fff;
        color: #4f6b72;

}

table.rounded-corner tfoot th.linksonder
{
	background: url('../images/linksonder.png') right bottom no-repeat;
        width:1px;
}
table.rounded-corner tfoot th.rechtsonder
{
	background: url('../images/rechtsonder.png') left -1px no-repeat;
        padding-left:0px;
}
table.rounded-corner tbody tr:hover td
{
	background: #fac873;
}

/*

  TABEL TOEVOEGEN

*/

table.rounded-corner-edit
{
        font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	width: 600px;
	text-align: left;
	border-collapse: collapse;

}
table.rounded-corner-edit thead th.linksboven
{
	background: url('../images/links.png') right 0px no-repeat;
        width:1px;
}

table.rounded-corner-edit th
{
	padding-left:10px;
}

table.rounded-corner-edit thead th.rechtsboven
{
	background: url('../images/rechts.png') left -1px no-repeat;
        width:15px;
        padding-left:0px;
}
table.rounded-corner-edit th.header
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}

table.rounded-corner-edit th a {
	text-decoration: none;
	   color: #ffffff;
}

table.rounded-corner-edit th a:visited {
	text-decoration: none;
	   color: #ffffff;
}

table.rounded-corner-edit tr.alt td
{
	padding: 8px;
	background: #f6e6b8;
	border-top: 1px solid #fff;
        color: #797268;

}

table.rounded-corner-edit tr td
{
	padding: 8px;
	background: #fff;
	border-top: 1px solid #fff;
        color: #4f6b72;

}

table.rounded-corner-edit tfoot th.linksonder
{
	background: url('../images/linksonder.png') right bottom no-repeat;
        width:1px;
}
table.rounded-corner-edit tfoot th.rechtsonder
{
	background: url('../images/rechtsonder.png') left -1px no-repeat;
        padding-left:0px;
}
/*
table.rounded-corner-edit tbody tr:hover td
{
	background: #fac873;
}*/

/*

  TABEL

*/

table.rounded-corner-menu
{
        font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	width: 160px;
	text-align: left;
	border-collapse: collapse;

}
table.rounded-corner-menu a
{
        text-decoration: none;
        color: #000;
}
table.rounded-corner-menu thead th.linksboven
{
	background: url('../images/links_gr.png') right 0px no-repeat;
        width:1px;
}

table.rounded-corner-menu th
{
	padding-left:10px;
        background: #000;
        color: #fff;
        text-align: left;

}
table.rounded-corner-menu thead th.rechtsboven
{
	background: url('../images/rechts_gr.png') left -1px no-repeat;
        width:15px;
        padding-left:0px;
}
table.rounded-corner-menu th.header
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #000;
}


table.rounded-corner-menu tr.alt td
{
	padding: 8px;
	background: #2ba600;
	border-top: 1px solid #fff;
        color: #797268;

}

table.rounded-corner-menu tr.ori td
{
	padding: 8px;
	background: #E6E6E6;
	border-top: 1px solid #fff;
        color: #4f6b72;

}

table.rounded-corner-menu tr.ori tr.alt
{
background-color: #E6E6E6;
}

table.rounded-corner-menu tfoot th.linksonder
{
	background: url('../images/linksonder_gr.png') right bottom no-repeat;
        width:1px;
}
table.rounded-corner-menu tfoot th.rechtsonder
{
	background: url('../images/rechtsonder_gr.png') left -1px no-repeat;
        padding-left:0px;
}
table.rounded-corner-menu tbody tr:hover td
{
	background: #CFCFCF;
}

th.label {
    width:200px;
}

/*

  TABEL LIJSTSCHERM

*/

table.rounded-corner-edit-small
{
        font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	width: 248px;
	text-align: left;
	border-collapse: collapse;
        float:left;
        margin-right: 50px;

}
table.rounded-corner-edit-small thead th.linksboven
{
	background: url('../images/links.png') right 0px no-repeat;
        width:1px;
}

table.rounded-corner-edit-small th
{
	padding-left:10px;
}

table.rounded-corner-edit-small thead th.rechtsboven
{
	background: url('../images/rechts.png') left -1px no-repeat;
        width:15px;
        padding-left:0px;
}
table.rounded-corner-edit-small th.header
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}

table.rounded-corner-edit-small th a {
	text-decoration: none;
	   color: #ffffff;
}

table.rounded-corner-edit-small th a:visited {
	text-decoration: none;
	   color: #ffffff;
}

table.rounded-corner-edit-small tr.alt td
{
	padding: 8px;
	background: #fddfac;
	border-top: 1px solid #fff;
        color: #797268;

}

table.rounded-corner-edit-small tr td
{
	padding: 8px;
	background: #fff;
	border-top: 1px solid #fff;
        color: #4f6b72;

}

table.rounded-corner-edit-small tfoot th.linksonder
{
	background: url('../images/linksonder.png') right bottom no-repeat;
        width:1px;
}
table.rounded-corner-edit-small tfoot th.rechtsonder
{
	background: url('../images/rechtsonder.png') left -1px no-repeat;
        padding-left:0px;
}


th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 8px 0px 6px 0px;
	background: #9B8852;
}

th a {
	text-decoration: none;
	   color: #ffffff;
}

th a:visited {
	text-decoration: none;
	   color: #ffffff;
}

.eerste {
    width: 600px;
}