/* ### general ### */
* { padding: 0px; margin: 0px; }
html, body { font-family: Arial; font-size: 12px; color: #8c806e; }
input, select, textarea { font-family: Arial; font-size: 12px; color: #8c806e; }
body { background: #fff; }
img { border: 0px; }
a, input { outline: none; }

/* ### global classes ### */
.clear { clear: both; height: 0px; }

/* ### step container ### */
	#stepCntr { padding: 0px 0px 27px 0px; width: 760px; float: left; font-size: 11px; color: #0b0707; }

		/* ### step box ### */
		.stepBox { padding-top: 3px; overflow: hidden; width: 760px; }
		.stepBox ul { padding-left: 9px; list-style: none; }
		.stepBox li { display: inline; }
		.stepBox li { padding-right: 28px; font-size: 18px; color: #c9c9c9; text-decoration: none; }
		.stepBox a:hover { color: #9c8953; }
		.stepBox li.selected { color: #9c8953; }

		/* ### booking box ### */
		.bookingBox { padding-top: 3px; overflow: hidden; width: 760px; }
		.bookingBox.last { padding-left: 8px; width: 752px; }
		.bookingBox h2 { padding-top: 16px; font-size: 18px; color: #0b0707; font-weight: normal; }
		.bookingBox fieldset { border: 0; }
		.bookingBox p { padding-top: 15px; width: 547px; }
		.bookingBox p.space3 { padding-top: 17px; }
		.bookingBox p.wecan { padding-bottom: 15px; }
		.bookingBox p.wecan1 { padding-bottom: 11px; }
		.bookingBox p.wecan2 { padding-bottom: 3px; }
		.bookingBox span.title { display: block; font-weight: bold; }
		.bookingBox input.checkbox1 { margin-right: 8px; width: 12px; height: 12px; float: left; }
		.bookingBox .select { margin-top: 7px; width: 160px; }
                .bookingBox .breder { margin-top: 7px; width: 350px; }
		.bookingBox ul { padding-top: 15px; list-style: none; }
		.bookingBox ul.space2 { padding: 23px 0px 0px 2px; }
		.bookingBox li { padding-left: 10px; background: url('../images/icon1.jpg') left no-repeat; }
		.bookingBox a { color: #000; font-weight: bold; text-decoration: none; }
		.bookingBox a:hover { color: #9c8953; text-decoration: underline; }
		.bookingBox input.textfield { padding: 1px 5px 0 5px; margin-top: 7px; width: 146px; border: 1px solid #b6b6b6; height: 20px; font-size: 12px; color: #000; line-height: 21px; border-top: 0; background: url('../images/textbg.jpg') top repeat-x; }
		.bookingBox .cal { margin-bottom: -5px; }
		.bookingBox input.goBtn { margin-top: 48px; cursor: pointer; border: 0; font-size: 11px; color: #fff; width: 70px; height: 26px; background: url('../images/go.jpg') 0 1px no-repeat;  }
		.bookingBox input.goBtn1 { margin-top: 20px; cursor: pointer; border: 0; font-size: 11px; color: #fff; width: 70px; height: 26px; background: url('../images/go.jpg') 0 1px no-repeat;  }
		.bookingBox .bookNow { margin-top: 6px; overflow: hidden; width: 760px; }
		.bookingBox span.time { padding: 0 0 0 13px; float: left; width: 82px; height: 21px; line-height: 20px; color: #fff; background: url('../images/timebg.jpg') no-repeat; }
		.bookingBox input.booknowBtn { width: 69px; cursor: pointer; border: 0; font-size: 11px; color: #fff; text-align: center; height: 21px; background: url('../images/bookbtn.jpg') 0 0 no-repeat; }
		.bookingBox .existingcustomer { width: 320px; float: left; }
		.bookingBox h3 { padding: 10px 0; font-size: 15px; color: #303030; }
		.bookingBox h3.heading1 { padding-bottom: 7px; }
		.bookingBox h3.heading { padding: 25px 0 21px 0; font-size: 15px; color: #303030; }
		.bookingBox input.user { display: block; padding: 0px 13px; border: 0; width: 137px; height: 21px; font-size: 11px; line-height: 21px; color: #fff; background: url('../images/textfield.png') no-repeat; }
		.bookingBox input.pass { margin-top: 6px; display: block; float: left; padding: 0px 13px; border: 0; width: 137px; height: 21px; font-size: 11px; line-height: 21px; color: #fff; background: url('../images/pass.jpg') no-repeat; }
		.bookingBox input.loginBtn { margin-top: 6px; width: 51px; cursor: pointer; border: 0; font-size: 11px; color: #fff; text-align: center; height: 21px; background: url('../images/login.jpg') 0 0 no-repeat; }
		.bookingBox .existingcustomer a { color: #9c8953; font-weight: bold; text-decoration: none; }
		.bookingBox .existingcustomer a:hover { color: #000; text-decoration: underline; }
		.bookingBox .newcustomer { width: 385px; float: left; }
		.bookingBox p.form { padding-bottom: 1px; float: left; width: 183px; }
		.bookingBox p.form1 { padding-bottom: 2px; width: 100%; }
		.bookingBox p.gap { padding-bottom: 1px; width: 95px; float: left; }
		.bookingBox input.field { padding: 2px 5px; border: none; width: 148px; height: 16px; background: url('../images/field2.jpg') 100% no-repeat; }
                .bookingBox input.user { display: block; padding: 0px 13px; border: 0; width: 137px; height: 21px; font-size: 11px; line-height: 21px; color: #fff; background: url('../images/textfield.png') no-repeat; }
                .bookingBox input.user_n { display: block; padding: 2px 5px; border: none; width: 148px; height: 16px; background: url('../images/field2.jpg') 100% no-repeat;}
		.bookingBox input.field1 { padding: 2px 5px; border: none; width: 62px; height: 16px; background: url('../images/field3.jpg') 100% no-repeat; }
		.bookingBox label { padding-bottom: 5px; display: block; font-size: 11px; color: #000; }
		.bookingBox input.button { margin-top: 15px; display: block; border: none; width: 105px; height: 21px; cursor: pointer; color: #fff; font-size: 11px; background: url('../images/button6.jpg') no-repeat; }
		.bookingBox span.text { padding-bottom: 7px; display: block; font-size: 11px; color: #000; }
		.bookingBox span.text2 { padding-bottom: 5px; display: block; font-size: 11px; color: #000; }
		.bookingBox h4 { padding-bottom: 22px; color: #000; font-size: 12px; }
		.bookingBox h4.gap1 { padding-bottom: 18px; }
		.bookingBox label.text1 { font-size: 11px; color: #000; }
		.bookingBox input.checkbox { margin-right: 8px; width: 12px; height: 12px; float: left; }
		.bookingBox label.space { padding-top: 0px; width: 260px; font-size: 11px; color: #000; font-weight: bold; }
		.bookingBox label.space1 { padding-top: 25px; width: 260px; font-size: 11px; color: #000; font-weight: bold; }
		.bookingBox input.send { margin-top: 24px; border: none; width: 105px; height: 21px; cursor: pointer; color: #fff; font-size: 11px; background: url('../images/button6.jpg') no-repeat; }