@font-face {
    font-family: 'NeubauGrotesk35Leicht';
    src: url('neubaugrotesk-35leicht-webfont.eot');
    src: url('neubaugrotesk-35leicht-webfont.eot?iefix') format('eot'),
         url('neubaugrotesk-35leicht-webfont.woff') format('woff'),
         url('neubaugrotesk-35leicht-webfont.ttf') format('truetype'),
         url('neubaugrotesk-35leicht-webfont.svg#webfontrVyE0EgV') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeubauGrotesk45Mager';
    src: url('neubaugrotesk-45mager-webfont.eot');
    src: url('neubaugrotesk-45mager-webfont.eot?iefix') format('eot'),
         url('neubaugrotesk-45mager-webfont.woff') format('woff'),
         url('neubaugrotesk-45mager-webfont.ttf') format('truetype'),
         url('neubaugrotesk-45mager-webfont.svg#webfontbjCdNE8W') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeubauGrotesk55Normal';
    src: url('neubaugrotesk-55normal-webfont.eot');
    src: url('neubaugrotesk-55normal-webfont.eot?iefix') format('eot'),
         url('neubaugrotesk-55normal-webfont.woff') format('woff'),
         url('neubaugrotesk-55normal-webfont.ttf') format('truetype'),
         url('neubaugrotesk-55normal-webfont.svg#webfonttpY2Xg4W') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeubauGrotesk65Halbfett';
    src: url('neubaugrotesk-65halbfett-webfont.eot');
    src: url('neubaugrotesk-65halbfett-webfont.eot?iefix') format('eot'),
         url('neubaugrotesk-65halbfett-webfont.woff') format('woff'),
         url('neubaugrotesk-65halbfett-webfont.ttf') format('truetype'),
         url('neubaugrotesk-65halbfett-webfont.svg#webfontrrBfnebo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeubauGrotesk75Fett';
    src: url('neubaugrotesk-75fett-webfont.eot');
    src: url('neubaugrotesk-75fett-webfont.eot?iefix') format('eot'),
         url('neubaugrotesk-75fett-webfont.woff') format('woff'),
         url('neubaugrotesk-75fett-webfont.ttf') format('truetype'),
         url('neubaugrotesk-75fett-webfont.svg#webfontNxLIoshQ') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeubauGrotesk85Schwer';
    src: url('neubaugrotesk-85schwer-webfont.eot');
    src: url('neubaugrotesk-85schwer-webfont.eot?iefix') format('eot'),
         url('neubaugrotesk-85schwer-webfont.woff') format('woff'),
         url('neubaugrotesk-85schwer-webfont.ttf') format('truetype'),
         url('neubaugrotesk-85schwer-webfont.svg#webfontWyZEUeDW') format('svg');
    font-weight: normal;
    font-style: normal;

}